<section class="creator__area">
  <div class="creator__border"></div>
  <div class="container">
    <div class="row">
      <div class="col-xxl-4 col-xl-4 col-lg-4 custom-margin">
        <div class="create__preview mr-30 mr-0">
          <div class="nft__box theme-bg-dark mb-30 transition-3">
            <h3 class="create__preview-title">Preview</h3>
            <div class="nft__box-thumb w-img mb-20">
              <a>
                <img
                  src="assets/img/bid/bid-img-1.jpg"
                  alt=""
                  *ngIf="previews.length === 0; else notcheck"
                />
                <ng-template #notcheck>
                  <img *ngFor="let preview of previews" [src]="preview" />
                </ng-template>
              </a>
              <div class="nft__box-popularity">
                <a><i class="fa-solid fa-heart"></i> 24</a>
              </div>
            </div>
            <div class="nft__box-content">
              <div
                class="nft__box-content-top d-flex align-items-center justify-content-between"
              >
                <h3 class="nft__box-title">
                  <a>Result Link</a>
                </h3>
                <div
                  class="nft__box-trending-icon"
                  style="cursor: pointer"
                  (click)="copyToClipboard()"
                >
                  Done
                  <span><i class="fa-solid fa-copy"></i></span>
                </div>
              </div>
            </div>
            <div
              class="nft__box-bottom d-flex align-items-center justify-content-between"
            >
              <div class="nft__box-highest w-100">
                <div class="create__input">
                  <input
                    type="text"
                    placeholder="Copy result Link"
                    #text
                    [(ngModel)]="urlULink"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xxl-8 col-xl-8 col-lg-8">
        <div class="create__form pt-55 pb-4">
          <form [formGroup]="shortLinkForm" (ngSubmit)="registerLink()">
            <div class="tab-content" id="nav-tabContent">
              <div
                class="tab-pane fade show active"
                id="nav-multiple"
                role="tabpanel"
                aria-labelledby="nav-multiple-tab"
              >
                <div class="row align-items-center">
                  <div class="col-xxl-12">
                    <div class="create__input-box">
                      <h4>Upload File<span>*</span></h4>
                      <p>Add your unique image file</p>
                    </div>
                  </div>
                  <div class="col-xxl-12">
                    <div class="create__upload text-center">
                      <label for="input-file-2" style="margin-top: 10px"
                        >Select a file</label
                      >
                      <input
                        id="input-file-2"
                        type="file"
                        (change)="selectFiles($event)"
                        formControlName="file"
                      />
                      <div
                        class="mb-2"
                        *ngIf="shortLinkForm.get('file')!.invalid"
                      >
                        <b
                          class="form-text text-danger"
                          *ngIf="shortLinkForm.get('file')?.errors?.required"
                        >
                          File is required
                        </b>
                      </div>
                    </div>
                  </div>
                  <div class="col-xxl-12">
                    <div class="create__input-box">
                      <h4>Original Link <span>*</span></h4>
                      <div class="create__input mt-2">
                        <input
                          type="text"
                          placeholder="Enter Original Link "
                          formControlName="originalLink"
                        />
                      </div>
                      <div
                        class="mb-2"
                        *ngIf="
                          shortLinkForm.get('originalLink')!.invalid &&
                          (shortLinkForm.get('originalLink')!.dirty ||
                            shortLinkForm.get('originalLink')!.touched)
                        "
                      >
                        <small
                          class="form-text text-danger"
                          *ngIf="
                            shortLinkForm.get('originalLink')?.errors?.required
                          "
                        >
                          Original Link is required
                        </small>
                        <small
                          class="form-text text-danger"
                          *ngIf="
                            shortLinkForm.get('originalLink')?.errors?.pattern
                          "
                        >
                          Original Link is invalid URL format
                        </small>
                        <small
                          class="form-text text-danger"
                          *ngIf="
                            shortLinkForm.get('originalLink')?.errors?.maxlength
                          "
                        >
                          Original Link max 1000 character
                        </small>
                      </div>
                    </div>
                  </div>
                  <div class="col-xxl-12">
                    <div class="create__input-box">
                      <h4>Description <span>*</span></h4>
                      <div class="create__input mt-2">
                        <input
                          type="text"
                          placeholder="Enter description"
                          formControlName="description"
                        />
                      </div>
                      <div
                        class="mb-2"
                        *ngIf="
                          shortLinkForm.get('description')!.invalid &&
                          (shortLinkForm.get('description')!.dirty ||
                            shortLinkForm.get('description')!.touched)
                        "
                      >
                        <small
                          class="form-text text-danger"
                          *ngIf="
                            shortLinkForm.get('description')?.errors?.required
                          "
                        >
                          Description is required
                        </small>
                        <small
                          class="form-text text-danger"
                          *ngIf="
                            shortLinkForm.get('description')?.errors?.maxlength
                          "
                        >
                          Description max 50 character
                        </small>
                      </div>
                    </div>
                  </div>
                  <div class="col-xxl-12">
                    <div class="create__input-box">
                      <h4>Title <span>*</span></h4>
                      <div class="create__input mt-2">
                        <input
                          type="text"
                          placeholder="Enter title"
                          formControlName="title"
                        />
                      </div>
                      <div
                        class="mb-2"
                        *ngIf="
                          shortLinkForm.get('title')!.invalid &&
                          (shortLinkForm.get('title')!.dirty ||
                            shortLinkForm.get('title')!.touched)
                        "
                      >
                        <small
                          class="form-text text-danger"
                          *ngIf="shortLinkForm.get('title')?.errors?.required"
                        >
                          Title is required
                        </small>
                        <small
                          class="form-text text-danger"
                          *ngIf="shortLinkForm.get('title')?.errors?.maxlength"
                        >
                          Title max 50 character
                        </small>
                      </div>
                    </div>
                  </div>
                  <div class="col-xxl-12">
                    <div class="create__input-box">
                      <h4>Alias Custom</h4>
                      <div class="create__input mt-2">
                        <input
                          type="text"
                          placeholder="Enter aliasRegister"
                          formControlName="aliasRegister"
                        />
                      </div>
                      <div
                        class="m-2"
                        *ngIf="
                          shortLinkForm.get('aliasRegister')!.dirty ||
                          shortLinkForm.get('aliasRegister')!.touched
                        "
                      >
                        <small
                          class="form-text text-danger"
                          *ngIf="
                            shortLinkForm.get('aliasRegister')?.errors
                              ?.minlength
                          "
                        >
                          Alias min 2 character
                        </small>
                        <small
                          class="form-text text-danger"
                          *ngIf="
                            shortLinkForm.get('aliasRegister')?.errors
                              ?.maxlength
                          "
                        >
                          Alias max 50 character
                        </small>
                      </div>
                    </div>
                  </div>
                  <div class="col-xxl-12">
                    <div class="create__input-box">
                      <h4>Type Display</h4>
                      <div class="create__input mt-2">
                        <div class="tp-select tp-select-3">
                          <mat-form-field appearance="fill">
                            <mat-label>Select an option</mat-label>
                            <mat-select
                              disableRipple
                              formControlName="displayType"
                            >
                              <mat-option value="article">Article</mat-option>
                              <mat-option value="website">Website</mat-option>
                              <mat-option value="video.other">Video</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xxl-12">
                    <div class="create__btn">
                      <button type="submit" class="tp-btn-3">
                        Create Short Link
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<ng-template #modal>
  <section class="team__area">
    <div class="container">
      <div class="row">
        <div class="col-xxl-12">
          <div class="section__title-wrapper text-center mb-35">
            <div class="mission__title-wrapper">
              <h4 class="slider__title-2" style="font-size: 21px">
                Make your <span>URL </span> Amazing & Unique with
                <span class="has-shape"
                  >ULink.asia
                  <img
                    class="slider-title-shape"
                    src="assets/img/icon/slider-stoke-shape.svg"
                    alt=""
                  />
                </span>
              </h4>
            </div>
            <div class="create__btn">
              <div class="footer__social footer__social-2 mb-3">
                <a href="https://t.me/+NYTzDOvTtEszZjVl" target="_blank"
                  ><i class="fa-brands fa-facebook-f"></i
                ></a>
                <a href="https://t.me/+NYTzDOvTtEszZjVl" target="_blank"
                  ><i class="fa-brands fa-telegram"></i
                ></a>
              </div>
              <a href="https://t.me/+NYTzDOvTtEszZjVl" target="_blank">
                <button type="button" class="tp-btn-3">Contact us</button>
              </a>
            </div>
          </div>
        </div>
        <div class="col-xxl-12 height-youtube">
          <iframe
            style="width: 100%; height: 100%"
            class="rounded"
            src="https://www.youtube.com/embed/1y_kfWUCFDQ"
            title="YouTube video"
          ></iframe>
        </div>
      </div>
    </div>
  </section>
</ng-template>
