<header>
  <div
    id="header-sticky"
    [ngClass]="
      headerSticky
        ? 'header__area header__border header__padding header__bg header__sticky header-sticky'
        : 'header__area header__border header__padding header__bg header__sticky'
    "
    [class.header__transparent]="header__transparent"
  >
    <div class="container tp-container">
      <div class="header__wrapper p-relative">
        <div class="row align-items-center">
          <div class="col-xxl-1 col-xl-1 col-lg-2 col-md-6 col-4">
            <div class="logo header__logo">
              <a [routerLink]="['/']">
                <img
                  style="width: 111px"
                  class="logo-white"
                  src="assets/img/logo/logo.png"
                  alt="logo"
                />
                <img
                  style="width: 111px"
                  class="logo-black"
                  src="assets/img/logo/logo.png"
                  alt="logo"
                />
              </a>
            </div>
          </div>
          <div class="col-xxl-8 col-xl-8 col-lg-5 d-none d-lg-block">
            <div class="header__menu-wrapper d-flex align-items-center">
              <div class="header__search mr-30 ml-5">
                <form action="#">
                  <div class="header__search-input">
                    <input type="text" placeholder="Search" />
                    <button type="submit" class="header__search-btn">
                      <i class="fa-regular fa-magnifying-glass"></i>
                    </button>
                  </div>
                </form>
              </div>
              <div class="main-menu">
                <nav id="mobile-menu" class="d-none d-xl-block">
                  <ul>
                    <li>
                      <a [routerLink]="['/']">Home</a>
                    </li>
                    <li>
                      <a [routerLink]="['/about']">About</a>
                      <!-- <ul class="megamenu">
                        <li><a [routerLink]="['/about']">About</a></li>
                        <li><a [routerLink]="['/login']">Login</a></li>

                        <li><a [routerLink]="['/contact']">Contact Us</a></li>
                        <li><a [routerLink]="['/register']">Register</a></li>

                        <li><a [routerLink]="['/activity']">Activity</a></li>
                        <li>
                          <a [routerLink]="['/forget']">Forget Password</a>
                        </li>

                        <li>
                          <a [routerLink]="['/edit-profile']">Edit Profile</a>
                        </li>

                        <li><a [routerLink]="['/support']">Support/FAQ</a></li>

                        <li>
                          <a [routerLink]="['/terms']">Terms & Conditions</a>
                        </li>

                        <li>
                          <a [routerLink]="['/privacy']">Privacy & Policy</a>
                        </li>

                        <li>
                          <a [routerLink]="['/create-multiple']"
                            >Create Multiple NFT</a
                          >
                        </li>
                        <li>
                          <a [routerLink]="['/maintaince']">Maintanance</a>
                        </li>

                        <li>
                          <a [routerLink]="['/upcoming']">Upcoming Projects</a>
                        </li>

                        <li>
                          <a [routerLink]="['/coming-soon']">Coming Soon</a>
                        </li>
                        <li><a [routerLink]="['/404']">404 Error</a></li>
                      </ul> -->
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
          <div class="col-xxl-3 col-xl-3 col-lg-5 col-md-6 col-8">
            <div
              class="header__right-wrapper d-flex justify-content-end align-items-center"
            >
              <div
                class="header__right d-none d-sm-flex justify-content-end align-items-center"
              >
                <div class="header__notification">
                  <a>
                    <svg viewBox="0 0 17 18">
                      <path
                        d="M13.7081 6.08326C13.7081 4.73509 13.1726 3.44215 12.2193 2.48885C11.266 1.53556 9.97305 1 8.62488 1C7.27672 1 5.98377 1.53556 5.03048 2.48885C4.07718 3.44215 3.54163 4.73509 3.54163 6.08326C3.54163 12.0137 1 13.7081 1 13.7081H16.2498C16.2498 13.7081 13.7081 12.0137 13.7081 6.08326Z"
                        stroke="white"
                        stroke-opacity="0.5"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                      <path
                        d="M10.0905 16.1558C9.94157 16.4126 9.72778 16.6257 9.47056 16.7739C9.21333 16.922 8.9217 17 8.62485 17C8.32801 17 8.03637 16.922 7.77914 16.7739C7.52192 16.6257 7.30813 16.4126 7.15918 16.1558"
                        stroke="white"
                        stroke-opacity="0.5"
                        stroke-width="1.5"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                    <span class="notification-count">+</span>
                  </a>
                </div>
                <div class="header__wallet-wrapper" id="header__user">
                  <div class="header__wallet ml-30">
                    <a
                      [routerLink]="['/wallet']"
                      class="header__wallet-btn"
                      id="connectbtn"
                    >
                      <svg viewBox="0 0 19 16">
                        <path
                          d="M17.5 5.83333V10.1667C17.5 13.5 15.9 14.5 13.5 14.5H5.5C2.5 14.5 1.5 13 1.5 10.1667V5.83333C1.5 3 2.5 2 4.852 1.552C5.06 1.51733 5.276 1.5 5.5 1.5H13.5C13.708 1.5 13.908 1.50866 14.1 1.54332C16.5 2 17.5 3 17.5 5.83333Z"
                          stroke="white"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M9 5.03314H5"
                          stroke="white"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                        <path
                          d="M17.2998 5.75061H14.8998C14.0198 5.75061 13.2998 6.65061 13.2998 7.75061C13.2998 8.85061 14.0198 9.75061 14.8998 9.75061H17.2998"
                          stroke="white"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                      Wallet
                    </a>
                  </div>
                </div>
              </div>
              <div class="header__bar ml-10 d-xl-none">
                <button (click)="handleSidebar()" class="hamurger-btn">
                  <span></span>
                  <span></span>
                  <span></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
