.header-mobile-url,
.about {
  display: none;
}

@media screen and (max-width: 590px) {
  .slider__title-2 {
    margin-top: 25px !important;
  }

  .header-mobile-url {
    margin-top: 10px;
    margin-left: 50px;
    display: inline-block;
  }

  .about {
    display: inline-block;
  }
}
